/**
 * Monitor Dashboard Styles
 */

.piv-round-advanced-dialog.ui-dialog,
.piv-round-advanced-dialog.ui-dialog:not(.ui-dialog-off-canvas) {
  border: 5px solid green !important;
  border-radius: 14px !important;
}

.monitor-dashboard th,
.monitor-dashboard td {
  text-align: center;
}

.judge-remove-btn,
.recitation-edit-btn,
.recitation-remove-btn {
  display: block !important;
  margin-top: 4px;
  margin-left: auto !important;
  margin-right: auto !important;
}
