#
# App
#

# Database backups
/database/*
!/database/.gitkeep
*.sql
*.sql.gz

# Private files
/private/*
!/private/*/
/private/*/*
!/private/*/.gitkeep

# Config ignored files.
*/sync/mailsystem.settings.yml
*/sync/piv_canadian_content.settings.yml

# Environment variables
.env

#
# Drupal
#
/web/sites/default/files
settings.local.php
services.local.yml
development.services.yml

# Composer-generated
/vendor/
/web/core/
/web/modules/contrib/
/web/profiles/contrib/
/web/themes/contrib/

# SimpleTest environment
/web/sites/simpletest

dump
node_modules/
