#
# App
#

# Database backups
/database/*
!/database/.gitkeep
*.sql
*.sql.gz

# Private files
/private/*
!/private/*/
/private/*/*
!/private/*/.gitkeep

# Config ignored files.
*/sync/piv_canadian_content.settings.yml
*/sync/piv_poem_password.settings.yml
*/sync/piv_base.welcome_modal_settings.yml
*/sync/piv_mail.piv_mail.*
*/sync/reroute_email.settings.yml
*/sync/views.view.*
*/sync/language/*
!config/sync/language/
!config/sync/language/fr/
!config/sync/views.view.language_restricted_poems.yml
!config/sync/views.view.search.yml
!config/sync/views.view.competitions.yml
!config/sync/views.view.competition_entries.yml
!config/sync/views.view.judging_sessions.yml
!config/sync/views.view.recitations.yml
!config/sync/views.view.scores.yml
!config/sync/views.view.score_templates.yml
!config/sync/views.view.moods_by_language.yml
!config/sync/views.view.tags_by_language.yml
!config/sync/views.view.commom_poetic_terms_and_forms_by_language.yml
config/sync/google_analytics.settings.yml

# Environment variables
.env

#
# Drupal
#
/web/sites/default/files
/web/sites/default/assets
settings.local.php
services.local.yml
development.services.yml

# Composer-generated
/vendor/
/web/core/
/web/modules/contrib/
/web/profiles/contrib/
/web/themes/contrib/

# SimpleTest environment
/web/sites/simpletest

dump
node_modules
*--dump.sql

# Roulette
/web/roulette/cached/data/*.json

/web/modules/custom/piv_school/src/csv
.vscode
