/**
 * @file
 * Subtheme specific CSS.
 */
.temp-image {width: 100%}


body, h1,
h1 a {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
h2,
h3,
h4,
h5,
h6,
h2 a,
h3 a,
p {
  font-family: 'Roboto', sans-serif;
}


