/* ------------------ Header ------------------ */

.navbar-dark .nav-link:hover,
.navbar-dark .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-light .nav-link:hover,
.navbar-light .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-light .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-brand .site-logo {
  margin-right: 1rem;
}

@media (max-width: 33.9em) {
  .navbar-toggleable-xs .navbar-nav .nav-item+.nav-item,
  .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
    margin-left: 0;
    float: none;
  }
}

@media (max-width: 47.9em) {
  .navbar-toggleable-sm .navbar-nav .nav-item+.nav-item,
  .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
    margin-left: 0;
    float: none;
  }
}
.nav-link.is-active {
    display: none;
}
.bi-person-circle {
    color: white;
}
.language-link {
    color:white;
    text-decoration: none;
    border:2px solid white;    
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    padding: 5px 9px;
    font-size: 1.5em;

}
.header-logo {
    height: 4em;
}
#navbar-main {
    background-color: #631F14;
}
.navbar,
.navbar-inverse {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  min-height: 80px;
}

.nav li {
  display: inline;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
  font-family: Lato;
  font-size: 1.7em;
  font-weight: 300;
  padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
  background-color: #444444;
  transition: 0.7s all linear;
  height: 100%;
}


/* .navbar-expand-lg .navbar-toggler {
    display: inline-block !important;

}
*/
.navbar-toggler-icon {color: white}

