.recitation-judging__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .recitation-judging__form {
    text-align: right;
    .form-submit {
      margin: 0;
    }
    table {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }
  .recitation-judging__video {
    iframe {
      width: 100%;
    }
  }
}
