.journal-inline-dates .field--type-datetime {
  display: inline-block;
  margin-right: 1rem;
}

.journal-inline-dates .fieldset__wrapper {
  margin: 0;
}
.journal-inline-dates .fieldset__description {
  margin-block-start: -10px;
}
.journal-inline-dates {
  background: white !important;
  margin: var(--gin-spacing-m) 0 !important;
}
