/* ------------------ Header ------------------ */

.navbar-dark .nav-link:hover,
.navbar-dark .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .nav-link {
  color: rgba(255, 255, 255, 0.2);
}

.navbar-light .nav-link:hover,
.navbar-light .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-light .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-brand .site-logo {
  margin-right: 1rem;
}

@media (max-width: 33.9em) {
  .navbar-toggleable-xs .navbar-nav .nav-item+.nav-item,
  .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
    margin-left: 0;
    float: none;
  }
}

@media (max-width: 47.9em) {
  .navbar-toggleable-sm .navbar-nav .nav-item+.nav-item,
  .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
    margin-left: 0;
    float: none;
  }
}

.bi-person-circle {
    color: white;
}

.header {
  position: fixed;
  //top: 0;
  width: 100%;
  z-index:400;
}
.gin--horizontal-toolbar .header {
    position: relative;
    margin-bottom: -4rem;
    z-index:200;
}
.header-logo {
    height: 3rem;
}
.header-logo.dark {
    filter: invert(1);
}
.navbar {
    height: 4rem
}
#navbar-main {
background: rgba(0, 0, 0, 0.3);
backdrop-filter: blur(50px);
-webkit-backdrop-filter: blur(50px);
z-index: 2;
}


.nav li {
  display: block;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
  font-family: Lato;
  font-size: 1.7rem;
  font-weight: 300;
  padding: 30px 25px 33px 25px;
  text-decoration: none;
}

.navbar-inverse .navbar-nav li a:hover {
  background-color: #444444;
  transition: 0.7s all linear;
  height: 100%;
}


/* .navbar-expand-lg .navbar-toggler {
    display: inline-block !important;

}
*/
.navbar-toggler-icon {color: white; filter: invert(1);}

.block-views-blockheader-images-based-on-node-content-block-1 {

}
.blur img {
    height: 4rem !important;
    object-fit: cover;
    object-position: top;
}

.dropdown-toggle::after {
    content: none;
}
.highlighted .container img {
    width: 100%;
}
.highlighted .container .blur img {
  width: 100% !important;
}
.highlighted {
  min-height: 4rem;
}
.highlighted .container.section {
    width: 100% !important;
    margin: 0;
    padding: 0;
    max-width: 100% !important;

}
.highlighted .container.views-field-name {
    margin-top: -8rem;
    position: relative;
    background: #fff;
    width: 50%;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
      display: inline ;
  }
}
.language-link {
  display: inline;
}
.language-link:hover {
    height: 33px;
    width: 33px;
  transition: 0.3s all linear;

}
.language-switcher-language-url .nav .is-active {
    display:none;
}
.nav-link.fr a {
    background: url(../assets/fr.svg) 0 0 no-repeat;
    display: block;
    height: 30px;
    text-indent: -99999em;
    width: 30px;
    overflow: hidden;
    background-repeat: no-repeat;

}
.nav-link.en a {
    background: url(../assets/en.svg) 0 0 no-repeat;
    display: block;
    height: 30px;
    text-indent: -99999em;
    width: 30px;
    overflow: hidden;
    background-repeat: no-repeat;

}
.offcanvas-body .nav-link.fr a {
    background: url(../assets/fr-black.svg) 0 0 no-repeat;
    display: block;
    height: 30px;
    text-indent: -99999em;
    width: 30px;
    overflow: hidden;
    background-repeat: no-repeat;
    margin: 0 1rem;

}
.offcanvas-body .nav-link.en a {
    background: url(../assets/en-black.svg) 0 0 no-repeat;
    display: block;
    height: 30px;
    text-indent: -99999em;
    width: 30px;
    overflow: hidden;
    background-repeat: no-repeat;
    margin: 0 1rem;

}
.offcanvas-body {
    flex-grow: 1;
    padding: 1rem 1 rem;
    overflow-y: auto;
}
.language-switcher-language-url .contextual, .block-block-content34828ca2-2c6b-470a-8814-2614f5b8e1a7 .contextual {
    display:none;

}
.menu--account a,
.search-icon {
  margin-left: 1rem;
}
#block-usericonheader {
  margin-left: 0.5rem;
}

.navbar-toggler, #block-usericonheader, .language-switcher-language-url {
padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none;
    border-radius: 0.25rem;
}
.offcanvas-body .navbar-toggler,.offcanvas-body #block-usericonheader,.offcanvas-body .language-switcher-language-url {
padding: 0;
    font-size: 1rem;
    line-height: 1;
    background-color: transparent;
    border: none;
    border-radius: none;

}
.offcanvas-body .btn-close {
    font-size: 1.25rem; 
}
.navbar-toggler:focus {
    box-shadow: none;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #000;
    background-color: transparent;
}

.navbar>.container {

}

.navbar-collapse .user {
float: right;
}
.heart {
  display: none;
}
