.score-controller__navigation {
  display: flex;
  align-items: start;

  &__accuracy {
    display: initial;
  }

  &__next {
    margin-left: auto;
  }
  &__previous {
    margin-right: auto;
  }
}

.monitor-dashboard {
  button.form-submit,
  button#edit-submit,
  a#edit-submit {
    background: #28a745;
    &.incomplete-round {
      background: #ff8800;
    }
  }
  form {
    margin-bottom: 0;
  }
}

.monitor-dashboard table {
  width: 100%;
  table-layout: fixed;

  tr.active-round td:first-child {
    background: #28a745;
  }
  tr.active-incomplete-round td:first-child {
    background: #ff8800;
  }
  td {
    text-align: center;
  }
  td.disabled {
    background: #aaaaaa;
  }
  span.score-icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #000000;
    font-size: 19px;
    color: #ffffff;
  }
  span.score-complete {
    background: #28a745;
  }
  span.score-incomplete {
    background: #ff8800;
  }
  tbody tr.odd, tbody tr {
    background-color: #efefef;
  }
  &.table > :not(caption) > * > * {
    box-shadow: none;
  }
}

table tbody,
table.final-results tbody {
  tr, tr.odd {
    &.rank-tie-1 { background: #f46d43; }
    &.rank-tie-2 { background: #fdae61; }
    &.rank-tie-3 { background: #fee08b; }
    &.rank-tie-4 { background: #e6f598; }
    &.rank-tie-5 { background: #abdda4; }
    &.rank-tie-6 { background: #66c2a5; }
    &.rank-tie-7 { background: #3288bd; }
  }
}

#monitor-dashboard-wrapper {
  position: relative;
}

// Override disabled button color.
.score-wrapper .button.is-disabled {
  background-color: #c53d27;
  color: #85201a;
}

body.score-form-is-locked {
  .lvp-barrio {
    background-color: #222;
  }
  h1, h2, h3, .lvp-barrio {
    color: #ccc;
  }
  path {
    fill: #ccc;
  }
}
.path-live-competition-score h2 {
  padding: 20px 0;
}

// Score results.
h3.final-results {
  color: #0036b1;
}
table.final-results {
  margin-bottom: 3rem;
  thead {
    --bs-table-bg: #0036b1;
    --bs-table-color: #fff;
  }
  tbody tr, tbody tr.odd {
    --bs-table-bg: #e8f0fe;
  }
}
#monitor-dashboard-wrapper .table-responsive {
  overflow-x: initial;
}
