/**
 * @file
 * Visual styles for Bootstrap Barrio's node component.
 */

.node__content {
  font-size: 1.071em;
  margin-top: 10px;
}
.elementary .block-views-blockcontent-type-index-pages-block-20 {
  display: none;
}
/* View mode teaser styles. */
.node--view-mode-teaser {
  border-bottom: 1px solid #d3d7d9;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.node--view-mode-teaser h2 {
  margin-top: 0;
  padding-top: 0.5em;
  margin-bottom: 2rem;
}
.node--view-mode-teaser h2 a {
  color: #181818;
}
.node--view-mode-teaser.node--sticky {
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
  border: 1px solid #d3d7d9;
  padding: 0 15px 15px;
}
.node--view-mode-teaser .node__content {
  clear: none;
  font-size: 1em;
  line-height: 1.6;
}
.node--type-poem .view-footer {
  display: inline;
}

/* Node metadata styles. */
.node__meta {
  font-size: 0.857em;
  color: #68696b;
  margin-bottom: -5px;
}
.node__meta .field--name-field-user-picture img {
  float: left; /* LTR */
  margin: 1px 20px 0 0; /* LTR */
}
[dir="rtl"] .node__meta .field--name-field-user-picture img {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Node links styles. */
.node__links {
  text-align: right; /* LTR */
  font-size: 0.93em;
}
[dir="rtl"] .node__links {
  text-align: left;
}

/* Unpublished node styles. */
.node--unpublished {
  padding: 20px 15px 0;
}
.node--unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}
/* Poem page and view styles */

.node--type-poem, .block-views-blockcontent-type-index-pages-block-15, .block-views-blockcontent-type-index-pages-block-3 {
    .field__label {
    text-transform: uppercase;  
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 1000;
    font-size: 18px;
    line-height: 21px;
    /* or 117% */
    letter-spacing: 0.1em;
    }
    .field__item a {
    text-decoration: none;
  //  border-right: 1px solid #000;
  //  padding: 0 5px;
        
    }
    .field__item:last-child a::after {
    content: '';
    }
    .field__item a::after {
    content: ',';
    }
    .block-field-blocknodepoembody {
    padding-bottom: 6rem;
    border-bottom: 4px dashed rgba(0, 0, 0, 0.4);
    margin-bottom: 7rem;
    }
    .main-content {
    margin-bottom: 7rem;    
    }
    .block-field-blocknodepoembody p, .index-views.poems p, .field--name-field-2-column-poem p {
      line-height: 30px;
      padding-left: 1em;
      text-indent: -1em;
      margin: 0 !important;
    }
    .index-views h2 {
      color: #000 !important;
      margin-bottom: 1rem !important;
    }
    .block-entity-print, .view-footer {
      display:none;
    }


}

/* Poet page styles */

.path-user {

    h2 {

        text-transform: uppercase;  
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 1000;
        font-size: 18px;
        line-height: 21px;
        /* or 117% */
        letter-spacing: 0.1em;
    }
    .field__label {
    font-weight: 700;    
    }
    .block-views-blockall-content-authored-block-1, .block-views-blockcontent-by-author-poems-on-their-page-block-2, .block-views-blockcontent-by-author-poems-on-their-page-block-1  {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      margin-bottom: 4rem;
      a {
        color: var(--plum) !important;      }
      li {
        list-style: none;
      }
      h2 {
        margin-bottom: 1.5rem;
      }
    }


    .block-field-blockuseruserfield-micro-interview p {
    font-size: 17px;
    line-height: 30px;        
    }
    .paragraph--type--publications {
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    }
    .block-field-blockuseruserfield-publications {
      margin-top: 30px;
  } 
    .paragraph--type--publications .field__label, .paragraph--type--publications .field__item {
    display: inline;
    padding-left: 0 !important;
    }
    .paragraph--type--publications .field__label::after, .field--name-field-photo-credit .field__label::after  {
    content: ': ';
    }
    .block-views-blockcontent-by-author-poems-on-their-page-block-1 {
    margin-bottom: 4rem;
    }

    .block-field-blockuseruserfield-user-bio {
    border-bottom: 4px dashed rgba(0, 0, 0, 0.4);
    padding-bottom: 4rem;
    margin-bottom: 4rem;

    }
    .block-field-blockuseruserfield-social-links, .block-field-blockuseruserfield-lifespan {
    display: inline;
    float: right;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    /* or 106% */
    display: flex;
    align-items: flex-end;
    opacity: .6    
    }

    .block-field-blockuseruserfield-social-links li {
    float: right;
    display: inline;
    margin-right: 2rem;
    font-size: 32px;
    line-height: 34px;
    }
    .block-field-blockuseruserfield-social-links ul {
    margin-bottom: 0;
    }
    .layout-main-wrapper {
    margin-top: 4rem;    
    }
    .block-views-blockuser-name-on-user-pages-block-1, .block-views-blockuser-name-on-user-pages-block-1 div,     .block-views-blockuser-name-on-user-pages-block-1 h1 {
    display: inline-flex;

    }
   .block-views-blockuser-name-on-user-pages-block-1 {
    margin-bottom: 4rem;
    }
    .field--name-field-photo-credit .field__label, .field--name-field-photo-credit .field__item {
    display: inline;
    }
    .block-field-blockuseruserfield-photo-credit {
    margin-top: -7rem;
    /* color: white; */
    z-index: 10;
    position: absolute;
    border-radius: 8px;
    background: #fff;
    opacity: .4;
    padding: .5rem;
    }
    .field--label-above .field__item {
    border-radius: none !important;
    background: none !important;
    }
    @media (max-width: 867px) {
      .block-field-blockuseruserfield-lifespan {
        display: block;
        float: none;
        font-size: 24px;
      }
      .block-views-blockuser-name-on-user-pages-block-1 {
        margin-bottom: 0;
      }
      .highlighted img {
        height: 15rem !important;
      object-fit: cover;
      }
      .block-field-blockuseruserfield-photo-credit {
        margin-top: -12rem;
        float: right;
        right: .25rem;
        font-size: 7px;
        padding: .25rem;
      }
      .layout-main-wrapper, .main-content {
        margin-top: 1rem;
      }
    }
}

/* Mixtape page styles */

.node--type-mixtape .main-content {
  h2 {
    color: var(--plum);
    margin-bottom: 3rem;
  }
  .block-views-blockmixtage-body-block-1 {
    padding-bottom: 4rem;
    margin-bottom: 4rem;
  }
  .block-views-blockcontent-type-index-pages-block-15 {
  border-bottom : 4px dashed rgba(0, 0, 0, 0.4) ;
  border-top : 4px dashed rgba(0, 0, 0, 0.4) ;
  padding: 4rem 0;
  }
  .main-wrapper .block-views {
    margin-bottom: 4rem;

  }
}
/* Video page styles */

.node--type-video {
  .media-oembed-content {
    width: 100%;
 }
  .field__label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* or 117% */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-stretch: 110;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
  } 
  a {
    text-decoration: none;
  }
  .block-layout-builder {
    margin-bottom: 0;
  }
  iframe {
    border-radius: 10px;
  }
  .row {
    --bs-gutter-x: 0;
  }
}

/* Lesson plan styles */

.node--type-lesson-plan {
  p {
    line-height: 30px;
    margin-bottom: 2.5rem;
  }
  .layout-main p + ul,  {
    margin-bottom: 2.5rem;
    margin-top: -2rem;
  }
  p strong {
    font-family: Roboto;
  }
  h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    /* or 117% */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-stretch: 110;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
  }
}

/* Winner, judge and photo event pages */
.winner-index table, .winner-table table, .contest-photos table {
  a, h4, p {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* or 117% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-stretch: 110;
  font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
  }
  h4 {
    font-weight: 700;
  }
  img {
    border-radius: 10px;
  }
  table {
    border: none
  }
  tr {
    background: none;
    vertical-align: top;
  }
  td {
    display: block;
    width: 100%;
    height: auto;
  }


  td:hover img {
    filter: brightness(1.2);
    transition: all .4s ease;
  }
}
.winner-table table {
  @media (min-width: 867px) {
    td {
        width: 30%;
        display: table-cell;
    }
  }

}
.winner-index table, .contest-photos table {
  @media (min-width: 867px) {
    td {
        width: 45%;
        display: table-cell;
    }
  }

}
.judge-page table {
 h2 a {
  text-decoration: none;
 }
 img {
  border-radius: 10px
 }
 a:hover img {
  filter: brightness(1.2);
  transition: all .4s ease;
  
 }
}
.main-content {
  p {
    margin-bottom: 2rem;
  }

}

/* Article page styles */

.node--type-article {
.block-field-blocknodearticlefield-image img {
  width: 100%;
}
  .field--type-image {
    float: none;
    margin: 10px;
  }
}

/* Contest page styles */

.piv-competition {

  .button {
    margin: 30px 0;
    display: block;;
  }

}

#enrollment td {
  padding: 15px 9px;
  text-align: center;
}

.piv-back-link {
  margin-bottom: 3rem !important;
}
#edit-submit, #edit-recitations-0-operations-form-submit {
  background: var(--mint);
}
#edit-submit:hover, #edit-recitations-0-operations-form-submit:hover {
  color: var(--mint);
}
.node--type-poem .block-field-blocknodepoembody p.rteindent1
{margin-left: 23px !important;}
.node--type-poem .block-field-blocknodepoembody p.rteindent2
{margin-left: 46px !important;}
.node--type-poem .block-field-blocknodepoembody p.rteindent3
{margin-left: 69px !important;}
.node--type-poem .block-field-blocknodepoembody p.rteindent4
{margin-left: 53px !important;}
.node--type-poem .block-field-blocknodepoembody p.rteindent5
{margin-left: 163px !important;}

.node--type-poem .block-field-blocknodepoembody p.interval {
  margin-bottom: 30px !important
}
.block-field-blocknodejournal-poemfield-banner-subtitle {

    margin-top: 80px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.16));
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    padding: 2rem;
}
.node--type-journal-poem .views-field-nothing {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.16));
  border-radius: 10px;
  background: #fff;
  overflow: hidden;

}
.node--type-journal-poem .views-field-nothing {
  h2, h4, p {
  padding: 0 1rem;
  }
}
.view-id-monthly_student_poem_winners  h3 {
  margin-top: 3rem;
  font-size: 40px;
  margin-bottom: 3rem;
  border-top: 1px dashed #777;
  padding-top: 3rem;
}
.view-id-monthly_student_poem_winners  h3:first-of-type {
  margin-top: 0;
  border-top: none;
  margin-bottom: 3rem;
}

.node--type-competition {
  .main-content {
    .block-page-title-block .title {
      margin-top: 2rem;
    }
  }
}
.block-field-blocknodepoemfield-poem-retired div div div {
    background-color: yellow;
    border: 1px solid;
    padding: 10px;
    font-size: 1.5em;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.16));
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 20px;

}
.block-field-blocknodepoemfield-poem-retired 
 a {
  text-decoration: underline !important;
}
.block-layout-builder.block-field-blocknodepoemfield-poem-retired{
  margin-bottom: 0;
}

