#welcome-modal {
  width: 100vw;
  height: 100vh;
  z-index: 30000;
  position: fixed;
  top: 0;
  left: 0;
  border: 0;
  background: #F1EDEC;
  &::backdrop {
    background-color: #F1EDEC;
  }
  .welcome-modal-inner {
    margin-top: 3rem;
  }
  .start-here, .welcome-modal-back {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    font-family: 'Roboto Condensed';
  }
  .welcome-modal-back {
    display: block;
    margin-bottom: 70px;
    &:hover {
      color: #000;
    }
  }
  .close-welcome-modal {
    right: 0;
    top: 1rem;
    position: absolute;
    cursor: pointer;
    font-size: 1.25rem;
  }
  form {
    font-family: Roboto;
    line-height: 100%;
    font-weight: 900;
    .form-required::after {
      display: none;
    }
    .options-wrapper {
      display: flex;
      margin-top: 70px;
    }
  }
  .piv-select-placeholder {
    border-bottom: 3px solid;
    height: 2rem;
  }
  .form-item-option-3 .piv-select {
    margin: 0 10px 0 0;
  }
  .piv-select {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
  }
  .piv-select-options {
    text-transform: uppercase;
    font-size: 1rem;
    color: #918E8D;
    line-height: 1.5rem;
    margin-top: 15px;
  }
  .piv-select-options.hide {
    display: none;
  }
  fieldset {
    padding-top: 0;
    opacity: 1;
    transition: opacity 0.5s, padding-top 0.5s;
    width: auto;
    height: auto;
    font-size: 0;
    > * {
      font-size: 2.5rem;
    }
    &.select-hidden {
      padding-top: 50px;
      opacity: 0;
      transition: opacity 0, padding-top 0;
      width: 0;
      overflow: hidden;
      font-size: 0;
      height: 0;
    }
  }
  #edit-go.form-submit {
    opacity: 1;
    transition: opacity 0.5s;
    background-color: #C53D27;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    width: 160px;
    height: 70px;
    margin-top: 40px;
    &::before {
      display: none;
    }
    &.select-hidden {
      opacity: 0;
      transition: opacity 0;
    }
  }
  .menu--account {
    float: right;
    margin-right: 30px;
    margin-top: 2px;
    a {
      padding: 0;
      color: #000;
    }
  }
}
