// Polyfill.
dialog#welcome-modal + .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
}

@media (max-width: 576px) {
  .form-item-option-2.select-hidden + .form-item-option-3:not(.select-hidden) {
    margin-top: -50px !important;
  }
}

#welcome-modal {
  .user-menu a {
    margin-left: 0;
    margin-right: 1rem;
    &::before {
      display: none;
    }
  }

  border: 0;
  background: #F1EDEC;
  height: 100vh;
  @media (min-width: 576px) {
    height: fit-content;
  }
  .welcome-modal-container {
    position: relative;
    margin: 1rem;
  }
  &::backdrop {
    background-color: #000;
    opacity: 0.8;
  }
  .form-type-piv-select {
    label, .piv-select {
      margin-right: 10px;
    }
  }
  .start-here, .welcome-modal-back {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2rem;
    font-family: 'Roboto Condensed';
    @media (min-width: 576px) {
      font-size: 2rem;
    }
  }
  .start-here {
    margin: 20px 0;
    @media (min-width: 576px) {
      margin: 0;
    }
  }
  .welcome-modal-back {
    display: block;
    margin-bottom: 70px;
    &:hover {
      color: #000;
    }
  }
  .close-welcome-modal {
    right: 0;
    top: 0;
    position: absolute;
    cursor: pointer;
    font-size: 1.25rem;
  }
  form {
    display: inline-block;
    width: 100%;
    font-family: Roboto;
    line-height: 100%;
    font-weight: 900;
    .form-required::after {
      display: none;
    }
    .options-wrapper {
      @media (min-width: 576px) {
        display: flex;
        margin-top: 70px;
      }

    }
  }
  @media (min-width: 576px) {
    form {
      min-height: 320px;
    }
  }
  .piv-select-placeholder {
    border-bottom: 3px solid;
    @media (min-width: 576px) {
      min-height: 2.5rem;
    }
    min-height: 1.8rem;
  }
  .piv-select {
    vertical-align: top;
    margin: 0;
    display: inline-block;
  }
  .piv-select-options {
    text-transform: uppercase;
    font-size: 1rem;
    color: #918E8D;
    line-height: 1.8rem;
    margin-top: 15px;
  }
  .piv-select-options.hide {
    display: none;
  }
  fieldset {
    padding-top: 0;
    opacity: 1;
    transition: opacity 0.5s, padding-top 0.5s;
    width: auto;
    height: auto;
    font-size: 0;
    > * {
      @media (min-width: 576px) {
        font-size: 2.5rem;
      }
      font-size: 1.8rem;
      line-height: 100%;
    }
    &.select-hidden {
      padding-top: 50px;
      opacity: 0;
      transition: opacity 0, padding-top 0;
      width: 0;
      overflow: hidden;
      font-size: 0;
      height: 0;
    }
  }
  @media (min-width: 576px) {
    .form-submit {
      bottom: 0;
      position: absolute;
    }
  }
  .form-submit {
    opacity: 1;
    transition: opacity 0.5s;
    background-color: #C53D27;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    width: 160px;
    height: 70px;
    margin-top: 40px;
    &::before {
      display: none;
    }
    &.select-hidden {
      opacity: 0;
      transition: opacity 0;
    }
  }
  .menu--account {
    @media (min-width: 576px) {
      float: right;
      margin-right: 30px;
      margin-top: 2px;
    }
    a {
      padding: 0;
      color: #000;
    }
  }
}
