// Print related css.

header, footer, .highlighted, .tabs {
  display: none !important;
}
main {
  padding: 0 m !important;
  margin: 0 !important;
}

body {
  width: 100% !important;
}
.views-field-nothing { 
  page-break-after: always;
}
p, h1,h2, h3, h4, h5, h6, span {
  filter: none !important;
}
h1.title span {
  color: var(--purplek) !important
}

.elementary  {
  
  .header {
      height: fit-content;
      position: relative;
  }
  .highlighted {
      min-height: 0rem;
  }
  #main {
      margin-top: 1rem;;
  }
  &.node--type-poem { 
      #main {
          background: white;
          filter: none;
          border-radius: 2rem;
          padding: 2rem;
          margin-bottom: 0rem;
      }
      h1.title {
  margin-top: 0rem;
  text-align: left;
  margin-bottom: 0rem;
  line-height: 6rem;
      }
  }
  background: url(../images/watercolour-bg-MULTI.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover  !important;
  -moz-background-size: cover  !important;
  -o-background-size: cover  !important;
  background-size: cover !important;

      h1.title {
              font-family: "Chewy", sans-serif;
              font-weight: 400;
              font-style: bold;             
      }
      &.page-node-37023, &.page-node-37026, &.page-node-37027, &.page-node-37028, &.page-node-37029 {
          #block-pagetitle {
              display: none;
          }
      }
      h2, h3, h5, h6, h2 a, h3 a {
          font-family: "Chewy", sans-serif;
      }
      h3 {
          text-transform: none;
          font-size: 2.5rem;
      }
      ul.menu {
          margin-bottom: 2rem;
      }
      .navbar li {
          font-weight: 400;
          font-style: bold;   
          display: block;
          width: 100%;
          padding: .5rem 0;
          clear: both;
          text-align: inherit;
          text-decoration: none;
          white-space: nowrap;
          background-color: transparent;
          border: 0;
      }
      .menu--k-6-en-menu li {

          padding: 1.5rem 0;
  
      }
          a {
              text-decoration: none;

          }
      .navbar .menu--k-6-en-menu li {
          font-family: "Chewy", sans-serif;
          text-align: center;
          a {
              font-size: 4rem;
              line-height: 4rem;
              font-weight: 400;

          }

      }

      .menu--k-6-en-teachers-menu {
          h2 {
              font-weight: 900;
              text-align: left;
          }
          a {
              font-size: 2rem;
          }
      }

      .content {
         // background: rgba(255, 255, 255, 0.3);
      }
      
      ul.menu .watch a, a.watch h2 {
          color: var(--bluek);
      }
      ul.menu .read a, a.read h2 {
          color: var(--purplek);
      }
      ul.menu .write a, a.write h2 {
          color: var(--greenk);
      }
      ul.menu .make a, a.make h2 {
          color: var(--orangek);
      }
      #navbar-main {
          background: none;
          backdrop-filter: none;
          -webkit-backdrop-filter: none;
          z-index: 2;
          padding: 0;
      }
      .navbar {
          height: fit-content;
      }
      .search-icon svg {
          display: none;
      }
      .navbar-toggler {
          position: absolute;
          top: 1rem;
          right: 1rem;
      }
      .navbar-toggler-icon {
          background-image: url("../images/hamburger-k-6.svg");
          width: 6rem;
          height: 6rem;
          vertical-align: middle;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%;
          color: white;
          filter: none;
          transition: all 0.4s ease;

      }
      .navbar-toggler-icon:hover, .btn-close:hover, .print-icon:hover {
          filter: none;
          transition: all 0.4s ease;
      }
      .navbar-toggler-icon:active, .btn-close:active, .print-icon:active {
          transform: translateY(.5rem) translateX(.5rem);
          filter: none;
          border: none;
          transition: all 0.4s ease;
        }
      .btn-close {
          background: url(../images/xicon.svg) center / 6rem auto no-repeat;
          position:absolute;
          top: 1rem;
          right: 1rem;
          opacity: 1;
          padding: 0;
          width: 6rem;
          height: 6rem;
          margin-top: 0rem;
          filter: none;
          transition: all 0.4s ease;

      }
      .btn-close:focus {
          box-shadow: none;
      }
      .no-blur img:hover {
          filter: none;
          transition: all 0.4s ease;
          width: 101%;
          max-width: 101%;
      }    
      .no-blur img {
          transition: all 0.4s ease;
      }
      .header-logo {
          height: auto;
          width: 40%;
      }
      .header-logo.dark {
          filter: none;
      }
      .no-blur {
          margin-bottom: 0rem;
      }

      .navbar .block-block-content  {
          width: 70%;
          margin: auto;
      }
      &.watch,  &.regarde  {
          h1.title {
           color: var(--bluek);
          } 
          background: url(../images/watercolour-bg-BLUE-min.jpg) no-repeat center center fixed; 


      }
      &.read,  &.lis {
          h1.title {
           color: var(--purplek);
          } 
          background: url(../images/watercolour-bg-PURPLE-min.jpg) no-repeat center center fixed; 


      }
      &.write,  &.ecris {
          h1.title {
           color: var(--greenk);
          } 
          background: url(../images/watercolour-bg-GREEN-min.jpg) no-repeat center center fixed; 


      }
      &.make,  &.fabrique {
          h1.title {
           color: var(--orangek);
          } 
          background: url(../images/watercolour-bg-ORANGE-min.jpg) no-repeat center center fixed; 


      }
      
      h1.title, a.watch h2, a.read h2, a.write h2, a.make h2 {
      filter: none;
      font-size: 6rem;
      text-align: center;
      vertical-align: middle;
  }
  .site-footer {
      background: none;
  }
  .teachers {
      background-color: white;
      filter: none;
      border: 2px solid #000;
      border-radius: 2rem;
      padding: 2rem;
      margin: auto;
      margin-top: 0rem;
      width: fit-content;


  }
  &.read h3 {
      font-size: 1.25rem;
      line-height: 1.5rem;
  }
  &.read h2 a {
      color: var(--purplek);
      font-size: 3.5rem;
  }
  .invert {
      filter: invert(1);

  }
  .junior-senior h6 {
      font-family: 'Roboto';
  }
  .block-block-contentda9bca0a-1417-4494-a913-229f4cb102e4 {
      position: absolute;
      text-align: right;
      right: 4rem;
      bottom: 4rem;
  }
  .menu--k-6-en-teachers-menu {
      position: absolute;
      text-align: left;
      left: 4rem;
      bottom: 4rem;

  }
  .menu--k-6-en-teachers-menu ul{

      padding: 0;
      margin: 0;
  }
  .home {
      vertical-align: middle;
       img  {
          height: fit-content;
          transition: all 0.8s ease;


      }
      h2 {
          margin-left: 3rem;
          display: inline;
          transition: all 0.8s ease;

      }


      .content, .image {
          display: inline-flex;
          vertical-align: middle;
      }
      a:hover h2 {
          filter: none;
          transition: all 0.8s ease;
      }

      a:active h2 {
          transform: translateY(.5rem) translateX(.5rem);
          filter: none;
          border: none;
          transition: all 0.8s ease;
      }
      a:hover img {
          filter: contrast(1.2);
          transition: all 0.8s ease;
          transform: scale3d(1.2, 1.2, 1.2);
      }
      a:active img {
          filter: contrast(1.2);
          transition: all 0.8s ease;
          transform: scale3d(1.2, 1.2, 1.2);
      }
      .content-index, .col-2-sidebar .block-layout-builder, .poem-extras .block-layout-builder .content {
          filter: none;
          border-radius: 0px;
          background: none;
          overflow: hidden;
          padding: 1rem;
          text-align: center;
      }
      .content-index.mixtape, .content-index.podcast {
          padding: 0;
          height: 12rem;
          overflow: visible;
      }

  }
  .view-display-id-block_17  {
      .content-index {
      padding: 0;
      height: fit-content;
      overflow: visible;
      min-height: 0 !important;
      border-radius: 2rem;
      }
      .author {
          padding: 1rem;
      }
      h2 {
      font-size:  3rem;
      margin-top: 0rem;
      }
      h3 {
         font-size:  1.5rem;
      }
      .content {
          background-color: white;
          padding: 0rem;
          border-radius: 0 0 2rem 2rem;
      }
  }
  
  .block-views .author img, .view-taxonomy-term .author img {
      height: fit-content;
      width: 6rem;;
  }

  .navbar {
      height: fit-content;
  }
  .language-switcher-language-url {
      border-radius: 50%;
  }
  details, select.form-select {
      background-image: none;
      font-family: "Chewy", sans-serif;
      filter: none;
      border: 2px solid #000;
      padding: 0;
  }
  details {
      border: 1px solid #000;
      margin-top: 0em;
      margin-bottom: 2rem;
      background: #fff;
      color: black;
  }
  .offcanvas-body {
      padding: 0 0rem !important;
      text-align: center;
      overflow: hidden;
  }
  .form-row {
      text-align: center;
  }
  form {
      margin-bottom: .5rem;
      margin-top: 0rem;
      }


  .podcast, .content-index {
      background-color: #E36397;
      height: fit-content;
      filter: none;
  } 
  
  .stripe:nth-child(odd) {
      .podcast, .content-index, h2 {
      background-color: #FFF756 !important;
      } 
  }
  .podcast h3 {
  filter: drop-shadow(0.1rem 0.1rem 0px white);
  font-size: 2rem;
  line-height: 2rem;
  }

  .podcast img {
      width: 100%;
  }
  .view-display-id-block_17 .area-link:hover .content-index {
      background: var(--purplek);
      height: 100%;
      transition: all .4s ease;
      h1, h2, h3, h4, h5, h6, p, li, a {
          color: var(--plum-dark); 
          filter: drop-shadow(0.25rem 0.25rem 0px white);
          transition: all .4s ease;                   
          }
  
  }
  .offcanvas-body .nav-link a, .nav-link a {
      background: none;
      text-indent: 0;
      font-family: 'Chewy';
      font-size: 3rem;
      height: fit-content;
      width: fit-content;
      color: #FAE14E;
      background: black;
      padding: .75rem 1rem;
      border-radius: 50%;
      position: absolute;
      left: 1rem;
      top: 1rem;
  }
  .node__content {
      margin-top: 0rem;
  }
  .print-icon {
      width: 4rem;
      filter: none;
  }
  .masonry-item {
      filter: none;
  }
  .poem-extras, .block-field-blocknodepoemfield-dive-in-attribution {
      display: none;
  }
  &.write {
      .grid h2 {
          background: #E36397;
          padding: 1rem;
          margin: 0;
      }
      .grid .content {
          padding: 1rem;
          background-color: white;
      }
      .dive-in {
          background: white;
          padding: 0
      }


  }
  .block-field-blocknodevideotitle {
      background: white;
      border-radius: 0px 0 10px 10px;
      padding: 2rem;
      filter: none;
  
  }
  .node--type-video .field--name-title {
      font-family: 'Chewy';
      font-size: 45px;
      font-weight: 700;
      line-height: 47px;
      text-align: left;
      font-style: normal;
      /* background: var(--aqua-dark); */
      color: #E36397;
  
  }
  .node--type-video iframe {
      border-radius: 10px 10px 0 0;
      filter: none;
  
  }
  .node--type-video .block-page-title-block {
      display: none;
  }
  .node--type-video .content-index {
      border-radius: 0 0 10px 10px;
      filter: none;
  
  }
  .node--type-video  ._none {
      display: none;
  }
  @media (max-width: 867px){
      .no-blur img {
      height: auto !important;
      }
      .block-block-contentda9bca0a-1417-4494-a913-229f4cb102e4 {
          position: absolute;
          text-align: left;
          left: 1rem;
          bottom: 1rem;
      }
      .menu--k-6-en-teachers-menu {
          position: relative;
          text-align: left;
          left: auto;
          bottom: auto;
      }
      .junior-senior {
          display: inline;
          img {
              display: inline;
              width: 4rem;
          }
          h6 {
              display: inline;
              margin-left: 1rem;
              font-size: 1rem;
          }
      }
      .navbar-toggler-icon {
          background-image: url("../images/hamburger-k-6.svg");
          width: 2rem;
          height: 2rem;
          vertical-align: middle;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%;
          color: white;
          filter: none;
          transition: all 0.4s ease;

      }
       .navbar-toggler-icon:hover, .btn-close:hover {
          filter: contrast(3.8) none;
          transition: all 0.4s ease;
      }
      .btn-close {
          background: url(../images/xicon.svg) center / 2rem auto no-repeat;
          opacity: 1;
          padding: 0;
          width: 2rem;
          height: 2rem;
          margin-top: 0;
          filter: none;
          position:absolute;
          top: .25rem;
          right: .25rem;
      }
      ul.menu {
          margin-bottom: 1rem;
      }
      
      .node__content {
          margin-top: 0rem;
      }
      h1.title,  a.watch h2, a.read h2,  a.write h2, a.make h2 {
          filter: drop-shadow(0.25rem 0.25rem 0px white);
          font-size: 3rem;
          text-align: center;
          vertical-align: middle;
      }

      .navbar li {
          font-weight: 400;
          font-style: bold;   
          display: block;
          width: 100%;
          padding: 2rem 0 0 0;
          clear: both;
          text-align: inherit;
          text-decoration: none;
          white-space: nowrap;
          background-color: transparent;
          border: 0;
      }
          a {
              text-decoration: none;

          }
      .navbar .menu--k-6-en-menu li {
          font-family: "Chewy", sans-serif;
          text-align: center;
          a {
              font-size: 3rem;
              line-height: 3rem;
              font-weight: 400;

          }

      }
      .navbar-toggler {
          top: 0.25rem;
          right: 0.25rem;
          position: absolute;
      }
      .offcanvas-body .nav-link a, .nav-link a {

          font-size: 1rem;
          top: .25rem;
          left: .25rem;
          padding: .5rem;;
      }
      .offcanvas-body .nav-link a {
          left: 0rem;
      }
      .offcanvas-body {
          padding: 0 1rem !important;
          text-align: center
      }
      .header-logo {
          height: auto;
          width: 60%;
          margin-left: 10%;
      }

      .menu--k-6-en-teachers-menu {
          margin-top: 2rem;
          h2 {
              font-weight: 900;
          }
          a {
              font-size: 2rem;
          }
          li {
              padding: .25rem;
          }
      }
      &.node--type-poem { 
          #main {
              background: white;
              filter: none;
              border-radius: 2rem;
              padding: 0rem;
              margin-bottom: 3rem;
          }
          h1.title {
      margin-top: 0rem;
      text-align: left;
      margin-bottom: 2rem;
      line-height: 3rem;
      font-size: 3rem;

          }
  h3 {
              font-size: 1.5rem;
          }
      }
      .print-icon {
          width: 1.5rem;
          filter: none;
      }
       .block-views .author img, .view-taxonomy-term .author img {
          height: 3rem;
          width: 3rem;
      }
      .node__content {
          margin: 0rem 0.5rem;
      }
      .home {
          vertical-align: middle;
           img  {
              height: fit-content;
              transition: all 0.8s ease;
              width: 5rem;
          }
          h2 {
              margin-left: 0rem;
              display: inline;
              transition: all 0.8s ease;
              font-size: 3rem;
  
          }
          .content {
              display: block;
              padding: 0;
          }
          .content-index.mixtape, .content-index.podcast {
              padding: 0;
              height: 10rem;
              overflow: visible;
              margin-bottom: 1rem;
          }
   
      }


  }

}

