/**
 * @file
 * Subtheme specific CSS.
 */

@import "components/affix";
@import "components/alerts";
@import "components/book";
@import "components/book-navigation";
@import "components/bootstrap-icons";
@import "components/breadcrumb";
@import "components/comments";
@import "components/commerce";
@import "components/contextual";
@import "components/details";
@import "components/dialog";
@import "components/dropbutton-component";
@import "components/dropbutton";
@import "components/feed-icon";
@import "components/field";
@import "components/file";
@import "components/form";
@import "components/forum";
@import "components/grid";
@import "components/header";
@import "components/help";
@import "components/home-and-index";
@import "components/icons";
@import "components/image-button";
@import "components/image-widget";
@import "components/img-fluid";
@import "components/indented";
@import "components/item-list";
@import "components/list-group";
@import "components/navigation";
@import "components/node";
@import "components/node-preview";
@import "components/page";
@import "components/progress";
@import "components/search-form";
@import "components/shortcut";
@import "components/sidebar-collapse";
@import "components/sidebar";
@import "components/site-footer";
@import "components/skip-link";
@import "components/slick";
@import "components/slide-nav";
@import "components/tabledrag";
@import "components/table";
@import "components/tableselect";
@import "components/tablesort-indicator";
@import "components/tablesort";
@import "components/tabs-full";
@import "components/tabs";
@import "components/textarea";
@import "components/toolbar";
@import "components/ui-dialog";
@import "components/ui-widget";
@import "components/user";
@import "components/vertical-tabs-component";
@import "components/vertical-tabs";
@import "components/views";
@import "components/modals";

:root {
  --plum-light: #E7D8E3;
  --plum: #893B73;
  --plum-dark: #481139;
  --red-light: #F3D8D4;
  --red: #C53D27;
  --red-dark: #631F14;
  --gold-light: #F4E9DA;
  --gold: #CA8F47;
  --gold-dark: #724713;
  --mint-light: #D4ECE3;
  --mint: #299F75;
  --mint-dark: #165740;
  --aqua-light: #D6E7EF;
  --aqua: #3185AF;
  --aqua-dark: #12445E;
  --white: #ffffff;
  --grey-dark: #333B42;
  --grey: #73818D;
  --black: #000000;
  --bluek: #0ebcee;
  --greenk: #94c947;
  --yellowk: #ffe450;
  --pinkk: #f05f98;
  --purplek: #a587be;
  --orangek: #f47b29;
}



body,
h1,
h2,
h3,
h4,
h5,
h6,
h2 a,
h3 a, {
  color: #000;
  font-family: 'Roboto';
  word-break: break-word;
}

h1, h2.poem-read__title {
  font-family: 'Roboto';
  font-size: 45px;
  font-weight: 700;
  line-height: 47px;
  text-align: left;
  font-style:normal;
}
h1.light {
    font-weight: 400;
    line-height: 44px;

}
h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 34px;
  /* or 106% */
  font-stretch: 70;
  font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}

h3, .navbar-nav .nav-link, .block-views-exposed-filter-blocksearch-page h2, .username {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  /* or 117% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-stretch: 110;
  font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
  text-decoration: none;
}
.navbar-nav .nav-link {

    font-weight: 1000;
}
h4, .print__wrapper--pdf a, .site-footer ul li a  {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* or 117% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-stretch: 110;
  font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.site-footer ul li a {
    font-weight: 1000;
    text-decoration: none;
    }
.site-footer ul li {
    display: block;

}
.site-footer ul {
    padding: 10px
}
h5 {

}
/* Only for mobile */
@media (max-width: 867px) {

h1 {
font-size: 30px;
}
h1.hero {
font-size: 24px;
}

h2 {
font-size: 24px;
}

h3 {
font-size: 18px
}

h4 {
font-size: 14px
}
p, .serif-large {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 36px;
  /* or 180% */
}
.no-blur img {
    width: 100%;
    height: auto;
    object-fit: cover
}
}


a {
  color: #000
}
p, .serif-large {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  /* or 180% */
}
.block-field-blocknodepoembody p, .field--name-field-2-column-poem p {
    font-size: 20px;
}
.serif {
  font-family: 'Lora';
  font-style: normal;

  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */
}
.sans-serif {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
}
.white {
  color: #fff;
}



.content li {
font-family: 'Lora';

}
li {
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    }
.block-field-blocknodelesson-planfield-lesson-objectives, .block-field-blocknodelesson-planfield-materials-resources {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.16));
  border-radius: 6px;
  background: #fff;
  padding: 20px !important;
}

.block-layout-builder {
margin-bottom: 40px;
}


.field--type-entity-reference {
    margin: 0 0;
}
.youtube-container--responsive, .field-name-field-google-calendar-iframe-cod .field-item, .field-name-field-yt-video .field-item {
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}
.youtube-container--responsive iframe, .field-name-field-google-calendar-iframe-cod .field-item iframe, .field-name-field-yt-video .field-item iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.youtube-container--responsive iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.node--type-writing-workshop li {
    list-style: none;
}
.area-link {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    
}36px
.picpcal .area-link {
    height: 100%; 
}
.print__wrapper  a {
    text-decoration: none;
}
.read a:hover, .lire a:hover  {color: var(--plum);
} 
.recite a:hover, .reciter a:hover  {color: var(--red);
} 
.write a:hover, .ecrire a:hover  {color: var(--mint);
} 
.teach a:hover, .enseigner a:hover  {color: var(--gold);
} 
.binge a:hover, .ecouter a:hover  {color: var(--aqua);
} 
.about a:hover, .propos a:hover  {color: var(--grey);
} 

.button, .piv-back-link a, .recitation-judging__back a, .recitation-judging__judge-later a, .poem-read__back a, .poem-read__later a, .poem-read__next a {
        height: auto;
        width: fit-content;
        border-radius: 5px;
        background: var(--red);
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        padding: 10px;
        font-family: 'Roboto';
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.16));

      }
.button:hover, .piv-back-link a:hover, .recitation-judging__back a:hover, .recitation-judging__judge-later a:hover, .poem-read__back a:hover, .poem-read__later a:hover {
        background: white !important;
        color: var(--red);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.16));
transition: all .4s ease;
}
.button:active, .piv-back-link a:active, .recitation-judging__back a:active, .recitation-judging__judge-later a:active, .poem-read__back a:active, poem-read__later a:active {
        color: white;
        background: var(--red-dark);
transition: all .4s ease;
}
.poem-read__next a {
    background: var(--mint) !important;
}
.poem-read__next a:hover {
    background: white !important;
    color: var(--mint);
filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.16));
transition: all .4s ease;

}
.poem-read__next a:active {
    color: white;
    background: var(--mint-dark);
transition: all .4s ease;}
.recitation-judging__back, .poem-read__back  {
    margin-bottom: 3rem !important;
}
.poem-read__later  {
    margin-top: 6rem;
}
.user .view-header-image-for-poets {
    display: none;
}
.recitation-judging__evaluated, .poem-read__evaluated {
    margin-top: -3rem !important;
    float: right;
}
.recitation-judging__video .media-oembed-content {
    width: 100%;
}
.piv-contest-score .form-check-input[type="radio"] {
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
}
.piv-contest-score label {
    display: inline-block;
    font-size: 30px;
    margin-left: 10px;
    padding: 0;
}
.poem-read__next {
    margin-top: 4rem;
} 
.md-bg, .dk-bg  {
height: 100%;
color: white !important;

}
.md-bg {
h1, h2, h3, h4, h5, h6, p, a, li {
color: white;
}
}
.dk-bg {
h1, h2, h3, h4, h5, h6, p, a, li {
color: white ;
}
}
.lt-bg {
h1, h2, h3, h4, h5, h6, p, a, li {
color: black ;
}
}
.read, .lire {
    .lt-bg {
            background: var(--plum-light);
    }

    .md-bg {
            background: var(--plum);
    }
    .dk-bg {
            background: var(--plum-dark);
    }
    .area-link:hover .content  {
            background: var(--plum-light);
            color: var(--plum-dark);
            height: 100%;
            transition: all .4s ease;
            h1, h2, h3, h4, h5, h6, p, li, a {
                color: var(--plum-dark); 
                transition: all .4s ease;                   
                }
        
    }
    .block-views-blockcontent-type-index-pages-block-3 .area-link:hover .content  {
            background: none;
            color: var(--plum-dark);
            height: 100%;
            transition: all .4s ease;
            h1, h2, h3, h4, h5, h6, p, li, a {
                color: var(--plum-dark); 
                transition: all .4s ease;                   
                }
        
    }
    .block-views-blockcontent-type-index-pages-block-3 .area-link:hover .content-index  {
            background: var(--plum-light);
            color: var(--plum-dark);
            height: 100%;
            transition: all .4s ease;
            h1, h2, h3, h4, h5, h6, p, li, a {
                color: var(--plum-dark); 
                transition: all .4s ease;                   
                }
        
    }
    .view .more-link {
        background-color: var(--plum-dark);
    }
    .hero a {
        background-color: var(--plum);
     }
     .button {
        background: var(--plum);
        }
        details, select {
            background-color: var(--plum-dark);
            color: white;
        }
}
.recite, .reciter {
    .lt-bg {
            background: var(--red-light);
    }

    .md-bg {
            background: var(--red);
    }
    .dk-bg {
            background: var(--red-dark);
    }
    .area-link:hover .content {
            background: var(--red-light);
            color: black;
            height: 100%;
            transition: all .4s ease;
        h1, h2 h3, h4, h5, h6, p, li, a {
                color: black !important; 
            transition: all .4s ease;                   
                }
        
    }
    .view .more-link {
        background-color: var(--red-dark);
    }
    .hero  a {
        background-color: var(--red);
     }
     .button {
        background: var(--red);
        }
        details, select {
            background-color: var(--red-dark);
            color: white;
        }
}
.write, .ecrire {
    .lt-bg { 
            background: var(--mint-light);
    }

    .md-bg {
            background: var(--mint);
    }
    .dk-bg {
            background: var(--mint-dark);
    }
    .area-link:hover .content {
            background: var(--mint-light);
            color: black;
            height: 100%;
            transition: all .4s ease;
        h1, h2 h3, h4, h5, h6, p, li, a {
                color: black !important; 
            transition: all .4s ease;                   
                }
        
    }
    .view .more-link {
        background-color: var(--mint-dark);
    }
    .hero a {
        background-color: var(--mint);
     }
     .button {
        background: var(--mint);
        }
    details, select {
            background-color: var(--mint-dark);
            color: white;
     }
}
.teach, .enseigner {
    .lt-bg {
            background: var(--gold-light);
    }

    .md-bg {
            background: var(--gold);
    }
    .dk-bg {
            background: var(--gold-dark);
    }
    .area-link:hover  {
            background: var(--gold-light);
            color: black;
            height: 100%;
            transition: all .4s ease;
        h1, h2 h3, h4, h5, h6, p, li, a {
                color: black !important; 
            transition: all .4s ease;                   
                }
        
    }
    .view .more-link {
        background-color: var(--gold-dark);
    }
    .hero a {
        background-color: var(--gold);
     }
     .button {
     background: var(--gold-dark);
     }
     details, select {
        background-color: var(--gold-dark);
        color: white;
    }
}

.hero a {
        backdrop-filter: blur(100px);
        border-radius: 10px;
        color: white;
        display: inline;
        height: 3rem;
        padding: 1rem;
        bottom: 0px;
        left: 0px;
        font-weight: 900;;

}
.binge, .ecouter {
    .lt-bg {
            background: var(--aqua-light);
    }

    .md-bg {
            background: var(--aqua);
    }
    .dk-bg {
            background: var(--aqua-dark);
    }
    .area-link:hover  {
            background: var(--aqua-light);
            color: black;
            height: 100%;
            transition: all .4s ease;
        h1, h2 h3, h4, h5, h6, p, li, a {
                color: black !important; 
            transition: all .4s ease;                   
                }
        
    }
    .view .more-link {
        background-color: var(--aqua-dark);
    }
    .hero a {
        background-color: var(--aqua);
     }
     details, select {
        background-color: var(--aqua-dark);
        color: white;
    }

}
.about, .propos {
    .lt-bg {
            background: var(--aqua-light);
    }

    .md-bg {
            background: var(--grey);
    }
    .dk-bg {
            background: var(--grey-dark);
    }
    .area-link:hover  {
            background: var(--aqua-light);
            color: black;
            height: 100%;
            transition: all .4s ease;
        h1, h2 h3, h4, h5, h6, p, li, a {
                color: black !important; 
            transition: all .4s ease;                   
                }
        
    }
    .view .more-link {
        background-color: var(--grey-dark);
    }
    .hero a {
        background-color: var(--grey);
     }
     details, select {
        background-color: var(--grey-dark);
        color: white;
    }

}
.hero a {
        backdrop-filter: blur(100px);
        border-radius: 10px;
        color: white;
        display: inline;
        height: 3rem;
        padding: 1rem;
        bottom: 0px;
        left: 0px;
        font-weight: 900;;

}
h1.hero a {
        color: white;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.16));
} 
.hero a:hover {
    background-color: white;
    transition: all .4s ease;                   
}
.view-footer .container {
    margin-top: 2.5rem;
}

.no-blur {
    margin-bottom: -4rem;
}

#field-language-display {
    display: none;
}
.button:hover::before {
    filter: invert(1)

}
.dropdown-item.active, .dropdown-item:active {
    background: transparent

}
.col-lg-9, .col-md-9 {
    padding-right: calc(var(--bs-gutter-x) * 2.5);
    }
    .main-content {
    margin-bottom: 7rem;    
    }
    .comp-img {
        width: 100px !important;
        height: 100px;
        display: inline;
        float: left;
        margin-right: 20px;
    }
#main {
    margin-top: 3rem;
}
#block-poetinclasslogin, #block-lessonplanlogin {
    width: fit-content;
}
.heart {
    display: none;
}
.view-content img {
  max-width: 100%;
  height: auto;

}
a#main-content { 
    margin: 0;
}
nav.tabs ul {
    background: none;
}
nav.tabs ul .nav-item a {
    background: #ddd;
    color: #000;
}
nav.tabs ul .nav-item a:hover {
    background: #303030;
    color: #e9ecef;
}
.print-icon {
    float: right;
}
.views-field-nothing { 
    page-break-after: always;
  }
  @media print {
    .views-field-nothing { page-break-after: always; } /* page-break-after works, as well */
}

.path-peoples-choice {
.field--name-field-recitation-video {
    margin-bottom: .5rem;
}
a.use-ajax {
    margin-bottom: 5rem;
    display: block;
}
div {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    
}
}

.ui-widget.ui-widget-content {
    //width: 90vw !important;




}
.elementary  {
  
    .header {
        position: absolute;
    }
    
    background: url(../images/watercolour-bg-MULTI.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover  !important;
    -moz-background-size: cover  !important;
    -o-background-size: cover  !important;
    background-size: cover !important;

        h1.title {
                font-family: "Chewy", sans-serif;
                font-weight: 400;
                font-style: bold;             
        }
        &.page-node-37023, &.page-node-37026, &.page-node-37027, &.page-node-37028, &.page-node-37029 {
            #block-pagetitle {
                display: none;
            }
        }
        h2, h3, h5, h6, h2 a, h3 a {
            font-family: "Chewy", sans-serif;
        }
        h3 {
            text-transform: none;
        }
        ul.menu {
            margin-bottom: 2vw;
        }
        .navbar li {
            font-weight: 400;
            font-style: bold;   
            display: block;
            width: 100%;
            padding: 1vw 0;
            clear: both;
            text-align: inherit;
            text-decoration: none;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
        }
            a {
                text-decoration: none;

            }
        .navbar .menu--k-6-en-menu li {
            font-family: "Chewy", sans-serif;
            text-align: center;
            a {
                font-size: 6vw;
                line-height: 8vw;
                font-weight: 400;

            }

        }

        .menu--k-6-en-teachers-menu {
            h2 {
                font-weight: 900;
            }
            a {
                font-size: 3vw;
            }
        }
        #main-wrapper {
            margin-top: 12vw;
        }
        .content {
           // background: rgba(255, 255, 255, 0.3);
        }
        
        ul.menu .watch a, a.watch h2 {
            color: var(--bluek);
        }
        ul.menu .read a, a.read h2 {
            color: var(--purplek);
        }
        ul.menu .write a, a.write h2 {
            color: var(--greenk);
        }
        ul.menu .make a, a.make h2 {
            color: var(--orangek);
        }
        #navbar-main {
            background: none;
            backdrop-filter: none;
            -webkit-backdrop-filter: none;
            z-index: 2;
            padding: 0;
        }
        .navbar {
            height: fit-content;
        }
        .search-icon svg {
            display: none;
        }
        .navbar-toggler-icon {
            background-image: url("../images/hamburger-k-6.svg");
            display: inline-block;
            width: 6vw;
            height: 6vw;
            vertical-align: middle;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            color: white;
            filter: none;
            filter: drop-shadow(0.5vw 0.5vw 0px #000);
            transition: all 0.4s ease;

        }
        .navbar-toggler-icon:hover, .btn-close:hover {
            filter: contrast(3.8) drop-shadow(0.5vw 0.5vw 0px #000);
            transition: all 0.4s ease;
        }
        .navbar-toggler-icon:active, .btn-close:active {
            transform: translateY(.5vw) translateX(.5vw);
            filter: brightness(.9)  drop-shadow(.1vw .1vw 0px #000);
            border: none;
            transition: all 0.4s ease;
          }
        .btn-close {
            background: url(../images/xicon.svg) center / 6vw auto no-repeat;
            opacity: 1;
            padding: 0;
            width: 6vw;
            height: 6vw;
            margin-top: 6vw;
            filter: drop-shadow(0.5vw 0.5vw 0px #000);
            transition: all 0.4s ease;

        }
        .btn-close:focus {
            box-shadow: none;
        }
        .no-blur img:hover {
            filter: brightness(1.1);
            transition: all 0.4s ease;
            width: 101%;
            max-width: 101%;
        }    
        .no-blur img {
            transition: all 0.4s ease;
        }
        .header-logo {
            height: auto;
            width: 80%;
        }
        .header-logo.dark {
            filter: none;
        }
        .no-blur {
            margin-bottom: 0rem;
        }


        .navbar .block-block-content {
            width: 70%;
        }
        &.watch {
            h1.title {
             color: var(--bluek);
            } 
            background: url(../images/watercolour-bg-BLUE-min.jpg) no-repeat center center fixed; 


        }
        &.read {
            h1.title {
             color: var(--purplek);
            } 
            background: url(../images/watercolour-bg-PURPLE-min.jpg) no-repeat center center fixed; 


        }
        &.write {
            h1.title {
             color: var(--greenk);
            } 
            background: url(../images/watercolour-bg-GREEN-min.jpg) no-repeat center center fixed; 


        }
        &.make {
            h1.title {
             color: var(--orangek);
            } 
            background: url(../images/watercolour-bg-ORANGE-min.jpg) no-repeat center center fixed; 


        }
        
        h1.title, a.watch h2, a.read h2, a.write h2, a.make h2 {
        filter: drop-shadow(.5vw .5vw 0px white);
        font-size: 6vw;
        text-align: center;
        vertical-align: middle;
    }
    .site-footer {
        background: none;
    }
    .home div {
        display: block;
        clear:both;
        text-align: center;
        margin-bottom: 3vw;
    }
    .home img  {
        display: inline;
        width: 6vw;

    }
    .home h2 {
        margin-left: 3vw;
        display: inline;
        transition: all 0.8s ease;

    }
    .home img {
        transition: all 0.8s ease;
    }
    .home a:hover h2 {
        filter: contrast(1.2) drop-shadow(0.5vw 0.5vw 0px #000);
        transition: all 0.8s ease;
    }
    .home a:active h2 {
        transform: translateY(.5vw) translateX(.5vw);
        filter: brightness(.9)  drop-shadow(.1vw .1vw 0px #000);
        border: none;
        transition: all 0.8s ease;
    }
    .home a:hover img {
        filter: contrast(1.2);
        transition: all 0.8s ease;
        transform: scale3d(1.5, 1.5, 1.5);
    }
    .home a:active img {
        filter: contrast(1.2);
        transition: all 0.8s ease;
        transform: scale3d(1.5, 1.5, 1.5);
    }
    .navbar {
        height: fit-content;
    }
    @media (max-width: 867px){
        .no-blur img {
        height: auto !important;
        }
        .navbar-toggler-icon {
            background-image: url("../images/hamburger-k-6.svg");
            display: inline-block;
            width: 10vw;
            height: 10vw;
            vertical-align: middle;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            color: white;
            filter: none;

        }

        .btn-close {
            background: url(../images/xicon.svg) center / 6vw auto no-repeat;
            opacity: 1;
            padding: 0;
            width: 10vw;
            height: 10vw;
            margin-top: 6vw;
    
        }
          
    }
    details, select.form-select {
        background-image: none;
        font-family: "Chewy", sans-serif;
        filter: drop-shadow(.5vw .5vw 0px black);
        border: 2px solid #000;
        padding: 0;
    }
    details {
        border: 1px solid #000;
        margin-top: 1em;
        margin-bottom: 2vw;
        background: #fff;
    }
    .offcanvas-body {
        padding: 0 3vw !important
    }
    .form-row {
        text-align: center;
    }
    form {
        margin-bottom: .5vw;
        margin-top: 0vw;
        }
    .content-index.podcast {
        filter: drop-shadow(0.5vw 0.5vw 0px black);
    }

    .podcast {
        background-color: #E36397;
    } 
    
    .stripe:nth-child(odd) {
        .podcast {
        background-color: #FFF756;
        } 
    }
    .podcast h3 {
    filter: drop-shadow(0.1vw 0.1vw 0px white);
    font-size: 2vw;
    }

    

}